$icon-layout:horizontal;
@import "icon/*.png";
@include all-icon-sprites;

html {
	background-color: #F4D864;
}

body {
	margin-top: -2%;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Gugi';
}

#real-big {
	font-size: 500%;
	color: white;
}

header {
	display: flex;
	padding-right: 10%;
	flex-direction: column;
	align-items: flex-end;
}


//background animation
.bg-animation {
	align-self: center;
	min-width: 1250px;
	min-height:768px;
	background: url("../img/icon-s8ca0177234.png") left center;
	animation: play 5s steps(50) alternate 2;
}

@keyframes play {
	100%	{
		background-position: -68300px;
	}
}


//arrow comes in at the end of bg animation

@keyframes cssAnimation {
    to {
        //visibility: visible;
        opacity: 1;
        transition: opacity 10s;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        //visibility:visible;
        opacity: 1;
        transition: opacity 10s;
    }
}



 .arrow {
 	width: 100px;
 	height: 100px;
 	background-image: url("../img/arrow.png");

	
    -moz-animation: cssAnimation 0s ease-in 10s forwards;

    -webkit-animation: cssAnimation 0s ease-in 10s forwards;

    -o-animation: cssAnimation 0s ease-in 10s forwards;

    animation: cssAnimation 0s ease-in 10s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

	
	opacity: 0;
}

.arrow:hover {
	background-image: url("../img/arrow02.png");
}



//iphone 6/7/8
@media screen and (max-width: 375px) {
	.bg-animation {
		min-width: 375px;
		min-height: 667px;
	}

	body {
		margin-top: 0%;
		margin-bottom: 0%;
	}
}